accelerate==0.15.0
transformers==4.26.0
ftfy==6.1.1
albumentations==1.3.1
opencv-python==4.8.0.76
einops==0.6.0
diffusers==0.10.2
pytorch-lightning==1.9.0
bitsandbytes==0.41.3.post2
tensorflow==2.14.0
safetensors==0.4.1
toml==0.10.2
voluptuous==0.13.1
lion_pytorch==0.0.6
dadaptation==3.1
prodigyopt==1.0
lycoris_lora==0.1.4
xformers==0.0.22.post7
.